<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Scrum - Universidad Icesi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="m-5 my-5">
		<div class="row align-middle">
			<div class="col"> 
				<h2 class="black-text" color=black;>Simulación Scrum - Universidad Icesi</h2>
				<h2 class="text-primary" ></h2>
				<p><a href="/games/"><i class="fas fa-dice"></i> Gestión de Juegos</a></p>
				<p><a href="/topics/"><i class="fas fa-drum-steelpan" ></i> Gestión de Temas</a></p> 
				<p><a href="/stories/"><i class="fas fa-file-alt"></i> Gestión de Historias</a></p>
				<p><a href="/logout"><i class="fas fa-home"></i> logout</a></p>
			</div>
		</div>
	</div>
</body>
</html>